= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :from_user_id
    = f.number_field :from_user_id
  .field
    = f.label :to_user_id
    = f.number_field :to_user_id
  .actions
    = f.submit 'Save'
