#side_view.graddient
  
  = link_to 'Home', "/", class: 'btn btn-dark button side_view_links'
  = link_to 'Tasks', "/tasks#index", class: 'btn btn-dark button side_view_links'
  = link_to 'Editor', "/editor/editor", class: 'btn btn-dark button side_view_links'
  = link_to 'SSH', 'javascript:toggleSSHContainer();', :id => "sshToggle", class: 'btn btn-dark button side_view_links'
  = link_to 'Folder', "/editor/openFolder", class: 'btn btn-dark button side_view_links'

  =# Coming soon!!
  =# link_to 'Users', "/projects#index", class: 'btn btn-dark button side_view_links'
  =# link_to 'Reports', "/projects#index", class: 'btn btn-dark button side_view_links'

:css
  .side_view_links {
    width: 90%;
    margin: 5% 5px 0px 5%;
  }