#side_view
  = link_to 'Home', "/", class: 'btn btn-primary button side_view_links'
  = link_to 'Tasks', "/tasks#index", class: 'btn btn-primary button side_view_links'
  = link_to 'Editor', "/editor/editor", class: 'btn btn-primary button side_view_links'
  = link_to 'SSH', 'javascript:toggleSSHContainer();', :id => "sshToggle", class: 'btn btn-primary button side_view_links'
  = link_to 'Folder', "/editor/openFolder", class: 'btn btn-primary button side_view_links'

:css
  .side_view_links {
    width: 90%;
    margin: 5% 5px 0px 5%;
  }