!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Project
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"}
    %script{:src => "https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"}

  %body#site_wrapper{style: 'display:inline;'}
    = render partial: '/main/main_header'

    .container-fluid.body-content{style: 'padding-top:10px;height:100%; min-height:100%;'}
      = yield

    %footer.navbar-fixed-bottom
      - if notice
        %p.alert.alert-success{style: 'position:absolute; right:15px; bottom:10px;'}= notice
      - if alert
        %p.alert.alert-danger{style: 'position:absolute; right:15px; bottom:10px;'}= alert
      = render partial: '/main/main_footer'

:javascript
  setTimeout(function(){ 
    $(document).find('.alert').fadeOut();
  }, 3500);

  $(document).find('.alert').off('click').on('click', function(){
    $(this).fadeOut();
  })



