!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Project
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"}
    %script{:src => "https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"}

  %body#site_wrapper{style: 'display:inline;'}
    .navbar.navbar-inverse.navbar-fixed-top
      = render partial: '/main/main_header'
    .container-fluid.body-content{style: 'margin-top:10px;'}
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      = yield

    %footer.navbar-fixed-bottom
      = render partial: '/main/main_footer'




