!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Project
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"}
    %script{:src => "https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"}

  %body.gradient
    #messages
    - if user_signed_in?
      = tag :meta, name: 'current-user', data: {id: current_user.id}
      .header-view
        = render partial: "layouts/header_view"
      .side-view
        = render partial: "layouts/side_view"
    .main-view
      .main-container{style:'width:100%; height:100%; z-index:1;'}
        = yield
        #flashy
          = render 'layouts/flash_notice'
      #dragbar
      = render 'layouts/modal'

    %footer.navbar-fixed-bottom

      = render partial: '/main/main_footer'

:javascript
  setTimeout(function(){ 
    $(document).find('.alert').fadeOut();
  }, 3500);

  $(document).find('.alert').off('click').on('click', function(){
    $(this).fadeOut();
  })



